{% extends "base.html" %}

{% block title %}
    Post editor
{% endblock %}

{% block content_title %}
    {{ editor_title }}
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ url }}" method="post">
            {% for form in forms %}
                <div class="form-group p-2">
                    {{ form.label(class='control-label') }}
                    {{ form(class='form-control') }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mb-3">Confirm</button>
        </form>
    </div>
{% endblock %}