{% extends "base.html" %}

{% block title %}
    {{ webpage_title }}
{% endblock %}

{% block content_title %}
    {{ page_title }}
{% endblock %}

{% block content %}
    <ul>
     {% for post in pages.items %}
         <li>
             <a href="{{ url_for('posts.post_content', url=post.url) }}">{{ post.title }}</a>
         </li>
     {% endfor %}
    </ul>


    <nav>
        <ul class="pagination">
            <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
                <a class="page-link" href="./?page={{ pages.prev_num }}">Previous</a>
            </li>
            {% for page in pages.iter_pages()  %}
                <li class="page-item {% if page == pages.page  %} active {% endif %} ">
                    <a class="page-link" href="./?page={{ page }}">{{ page }}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
                <a class="page-link" href="./?page={{ pages.next_num }}">Next</a>
            </li>
        </ul>
    </nav>
{% endblock %}